{% extends 'base.html' %}

{% block title %} About US {% endblock %}

{% block body_class %} about-us {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include 'includes/navigation.html' %}

<header class="bg-gradient-dark">
    <div class="page-header min-vh-45" style="background-image: url('{{ ASSETS_ROOT }}/img/bg9.jpg');">

        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center mx-auto my-auto">
                    <h1 class="text-white">{{ movie.title }}</h1>
                    <h6 class="text-white mb-2 mt-5">Find us on</h6>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:;"><i class="fab fa-facebook text-lg text-white me-4"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram text-lg text-white me-4"></i></a>
                        <a href="javascript:;"><i class="fab fa-twitter text-lg text-white me-4"></i></a>
                        <a href="javascript:;"><i class="fab fa-google-plus text-lg text-white"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <!-- Section with four info areas left & one card right with image and waves -->
    <section class="py-7 bg-cover position-relative"
             style="background-image: url('{{ ASSETS_ROOT }}/img/city-profile.jpg');">
        <div class="mask bg-gradient-dark opacity-2"></div>
        <div class="container position-relative z-index-2">
            <div class="row">
                <div class="col-lg-5 my-auto">
                    <p class="text-dark text-lg mb-lg-5">{{ movie.description }}</p>
                    <div class="p-3 d-flex">
                        <i class="material-icons text-3xl text-white"></i>
                        <div class="ms-1">
                            <h5 class="text-dark">Nominativo</h5>
                            <span class="text-dark text-sm"> {{ movie.title }}<br></span>
                        </div>
                    </div>
                    <div class="p-3 d-flex">
                        <i class="material-icons text-3xl text-white"></i>
                        <div class="ms-1">
                            <h5 class="text-dark">Paese</h5>
                            <p class="text-dark text-sm"> {{ movie.country }}<br></p>
                        </div>
                    </div>

                </div>
                <div class="col-lg-5 m-auto">
                    <div class="card card-contact card-raised">
                        <form id="contact-form1" method="post">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                                    <h5 class="text-center text-white">Contatta {{ movie.title }}</h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 pe-2">
                                        <div class="input-group input-group-dynamic mb-4">
                                            <label class="form-label">First name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ps-2">
                                        <div class="input-group input-group-dynamic mb-4">
                                            <label class="form-label">Last name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group input-group-dynamic mb-4">
                                    <label class="form-label">Email address</label>
                                    <input class="form-control" type="email">
                                </div>
                                <div class="input-group input-group-static mb-4">
                                    <label>Your message</label>
                                    <textarea name="message" class="form-control" id="message" rows="6"></textarea>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 text-center m-auto">
                                        <button type="submit" class="btn bg-gradient-primary mb-0">Send Message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-3">Our Customers</h2>
                    <h5 class="font-weight-light">
                        You need more informations?
                        Read our customers reviews.
                    </h5>
                </div>
            </div>
            <div class="row mt-lg-6 mt-4">
                {% for review in reviews %}
                <div class="col-lg-3 col-md-6 mb-lg-0 mb-4 ms-auto">
                    <div class="card">
                        <h6 class="mb-0 mt-3 text-center">{{ review.user.username }}</h6>
                        <p class="text-xs mb-0 text-center">{{ review.date }}</p>
                        <div class="card-body text-center py-0">
                            <p class="mt-4">{{ review.text }}</p>
                        </div>
                        <div class="card-footer text-center pt-3 position-relative z-index-1">
                            <div class="text-center">
                                <div class="rating float-none">
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="fas fa-star text-warning"></i>
                                    <i class="far fa-star text-warning"></i>
                                </div>
                            </div>
                            {% if user.is_authenticated and user == review.user %}
                            <a class="btn btn-primary me-2" href="#">Update</a>
                            <a class="btn btn-danger" href="#">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}


                <div class="col-lg-3 mb-lg-0 mb-4 me-auto">
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column justify-content-center text-center">
                            <a href="javascript:;">
                                <i class="fa fa-plus text-secondary mb-3"></i>
                                <h5 class="text-secondary"> Add Testimonial </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Testimonials w/ 3 cards w/ stars -->


</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    // get the element to animate
    var element = document.getElementById('count-stats');
    var elementHeight = element.clientHeight;

    // listen for scroll event and call animate function

    document.addEventListener('scroll', animate);

    // check if element is in view
    function inView() {
      // get window height
      var windowHeight = window.innerHeight;
      // get number of pixels that the document is scrolled
      var scrollY = window.scrollY || window.pageYOffset;
      // get current scroll position (distance from the top of the page to the bottom of the current viewport)
      var scrollPosition = scrollY + windowHeight;
      // get element position (distance from the top of the page to the bottom of the element)
      var elementPosition = element.getBoundingClientRect().top + scrollY + elementHeight;

      // is scroll position greater than element position? (is element in view?)
      if (scrollPosition > elementPosition) {
        return true;
      }

      return false;
    }

    var animateComplete = true;
    // animate element when it is in view
    function animate() {

      // is element in view?
      if (inView()) {
        if (animateComplete) {
          if (document.getElementById('state1')) {
            const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
            if (!countUp.error) {
              countUp.start();
            } else {
              console.error(countUp.error);
            }
          }
          if (document.getElementById('state2')) {
            const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
            if (!countUp1.error) {
              countUp1.start();
            } else {
              console.error(countUp1.error);
            }
          }
          if (document.getElementById('state3')) {
            const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
            if (!countUp2.error) {
              countUp2.start();
            } else {
              console.error(countUp2.error);
            };
          }
          animateComplete = false;
        }
      }
    }

    if (document.getElementById('typed')) {
      var typed = new Typed("#typed", {
        stringsElement: '#typed-strings',
        typeSpeed: 90,
        backSpeed: 90,
        backDelay: 200,
        startDelay: 500,
        loop: true
      });
    }

</script>

<script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }

</script>

{% endblock javascripts %}
